.container {
	width: 1200px;
	margin: 0 auto;

	.test {
		color:red;
	}
}
.container {
	margin: 0 auto;
	width: 1200px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

.blind {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	font-size: 1rem;
	color: transparent;
	overflow: hidden;
}


#header {
	height: 150px;
	background: #fff;
	z-index: 5;
	position: relative;

	.system-block {
		position: relatve;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		height: 90px;

		.logo {
			background:url(../images/sp_common.png) 0 0 no-repeat;
			width: 163px;
			height: 40px;
		}

		.location {
			position: relative;
			padding-bottom: 5px;
			border-bottom: 1px solid black;
			width: 350px;
			padding-left: 25px;

			a {
				color: black;
				display: block;
			}

			:before {
				content: "";
				display: inline-block;
				position: absolute;
				left: -5px;
				background: url(../images/sp_common.png) -155px 0px no-repeat;
				width: 35px;
				height: 40px;
			}
		}

		.util {
			ul {
				display: flex;
				align-items: center;
			}

			li {
				padding-left: 15px;
			}

			a {
				color: black;
			}

			select {
				border: 1px solid #ccc;
				border-radius: 10px;
				padding: 5px 10px;
			}
		}


	}

	.gnb-block {
		display: flex;
		justify-content: space-between;
		height: 60px;
		align-items: center;
		position: relative;

		.gnb {
			ul {
				display: flex;
			}

			li {
				padding-right: 50px;
			}

			li:hover a {
				border-bottom:1px solid black;
			}

			a {
				color: black;
			}
		}

		.view-menu {


			a {
				color: black;
			}

			i {
				transition: all 0.5s;
			}

			i.toggle__arrow {
				transform: rotate(180deg);
			}
		}
	}

}

.allmenu {
	height: 300px;
	background: #fff;
	transform: translateY(-350px);
	transition: all 0.5s;
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 2;
}

.allmenu.toggle__allMenu {
	transform: translateY(0px);
}


.slider {
	position: relative;
}

.swiper-container {
	.swiper-wrapper {}

	.swiper-slide {}

	.slider__bottom__info {
		display: inline-block;
		width: 100px;
		height: 40px;
		position: absolute;
		bottom: 29px;
		left: 50%;
		transform: translate(-50%);
		z-index: 5;
		background: #ccc;
		border-radius: 50px;
	}

	.swiper-pagination-fraction {
		bottom: 10px;
		left: -10px;
		color: #fff;
	}

	.swiper-pause {
		position: absolute;
		bottom: 12px;
		right: 15px;
		z-index: 10;
		color:#fff;
		transition:all 0.5s;
		cursor: pointer;
		font-size: 12px;
	}
	.swiper-play {
		position: absolute;
		bottom: 12px;
		right: 15px;
		z-index: 10;
		color: #fff;
		transition:all 0.5s;
		cursor: pointer;
		font-size: 12px;
	}
}




.navigation {}
