.container {
	width: 1200px;
	margin: 0 auto;

	.test {
		color:red;
	}
}
.container {
	margin: 0 auto;
	width: 1200px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

.blind {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	font-size: 1rem;
	color: transparent;
	overflow: hidden;
}


#header {
	height: 150px;
	background: #fff;
	z-index: 5;
	position: relative;

	.system-block {
		position: relatve;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		height: 90px;

		.logo {
			background:url(../images/sp_common.png) 0 0 no-repeat;
			width: 163px;
			height: 40px;
		}

		.location {
			position: relative;
			padding-bottom: 5px;
			border-bottom: 1px solid black;
			width: 350px;
			padding-left: 25px;

			a {
				color: black;
				display: block;
			}

			:before {
				content: "";
				display: inline-block;
				position: absolute;
				left: -5px;
				background: url(../images/sp_common.png) -155px 0px no-repeat;
				width: 35px;
				height: 40px;
			}
		}

		.util {
			ul {
				display: flex;
				align-items: center;
			}

			li {
				padding-left: 15px;
			}

			a {
				color: black;
			}

			select {
				border: 1px solid #ccc;
				border-radius: 10px;
				padding: 5px 10px;
			}
		}


	}

	.gnb-block {
		display: flex;
		justify-content: space-between;
		height: 60px;
		align-items: center;
		position: relative;

		.gnb {
			ul {
				display: flex;
			}

			li {
				padding-right: 50px;
			}

			li:hover a {
				border-bottom:1px solid black;
			}

			a {
				color: black;
			}
		}

		.view-menu {


			a {
				color: black;
			}

			i {
				transition: all 0.5s;
			}

			i.toggle__arrow {
				transform: rotate(180deg);
			}
		}
	}

}

.allmenu {
	height: 300px;
	background: #fff;
	transform: translateY(-350px);
	transition: all 0.5s;
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 2;
}

.allmenu.toggle__allMenu {
	transform: translateY(0px);
}


.slider {
	position: relative;

	.swiper-container {
		.swiper-wrapper {}

		.swiper-slide {}

		.slider__bottom__info {
			display: inline-block;
			width: 100px;
			height: 40px;
			position: absolute;
			bottom: 29px;
			left: 50%;
			transform: translate(-50%);
			z-index: 5;
			background: #ccc;
			border-radius: 50px;
		}

		.swiper-pagination-fraction {
			bottom: 10px;
			left: -10px;
			color: #fff;
		}

		.swiper-pause {
			position: absolute;
			bottom: 12px;
			right: 15px;
			z-index: 10;
			color:#fff;
			transition:all 0.5s;
			cursor: pointer;
			font-size: 12px;
		}
		.swiper-play {
			position: absolute;
			bottom: 12px;
			right: 15px;
			z-index: 10;
			color: #fff;
			transition:all 0.5s;
			cursor: pointer;
			font-size: 12px;
		}


	}


	.navigation {
		position: absolute;
		top:50%;
		z-index: 1;
		width: 100%;

		.arrow {
			border: none;
			background-color: transparent;
		}

		.arrow:focus {
			border: none;
			outline:none;
		}

		.prev {
			position: absolute;
			left: 100px;
		}

		.next {
			position: absolute;
			right: 100px;
		}

		i {
			font-size: 40px;
			color: #ccc;
		}

		.fa-chevron-left {
		}

		.fa-chevron-right {
		}
	}

}




.order {
	.order__inner {
		width:1000px;
		margin: 0 auto;
		padding: 50px 0;
	}

	ul {
		display: flex;
		justify-content: space-between;
	}

	li {}

	a {}

	.order__inner__box {

		.order__top__img {}

		.orderImg1 {
			background: url(../images/sp_common.png) -194px -273px no-repeat;
			width: 60px;
			height: 40px;
			display: block;
		}

		.orderImg2 {
			background: url(../images/sp_common.png) -250px -273px no-repeat;
			width: 60px;
			height: 40px;
			display: block;
		}

		.orderImg3 {
			background: url(../images/sp_common.png) -194px -273px no-repeat;
			width: 60px;
			height: 40px;
			display: block;
		}


		h2 {
			padding-top: 10px;
			font-size: 30px;
			display: inline-block;
		}
		.order__title__text1 {
			color: red;
		}
		.order__title__text2 {
			color: blue;
		}
		.order__title__text3 {
			color: black;
		}

		.order__arrow {
			width: 25px;
			height: 25px;
			border-radius: 50%;
			position: relative;
			display: inline-block;
		}

		.order__arrow:after {
			content: '';
			width: 5px;
			height: 5px;
			border-top: 2px solid #fff;
			border-right: 2px solid #fff;
			display: inline-block;
			transform: rotate(45deg);
			position: absolute;
			top: 9px;
			left: 8px;
		}

		.red {
			background: red;
		}

		.blue {
			background: blue;
		}

		.black {
			background: black;
		}
	}

	.order__sub__text {
		padding-top: 20px;
		color: #ccc;
		font-size: 16px;
	}

}

.benefit {
	padding: 100px 0;
	background: #ccc;

	.benefit__align {
	}

	.benefit__info {
		width: 400px;
		display: inline-block;
		vertical-align: top;

		p {
			font-size: 24px;
			color: black;
		}

		strong {
			color: cadetblue;
		}

		a {
			margin-top: 20px;
			background: black;
			color: white;
			padding: 10px 15px;
			border-radius: 15px;
			display: inline-block;
		}
	}

	.benefit_slider {
		width: 700px;
		display: inline-block;


	}
}

.event {

	padding: 50px 0;

	.event__list {
		width: 1000px;
		margin: 0 auto;

		ul {
			display: flex;
			justify-content: space-between;
		}
	}
}

#footer {

	border-top: 1px solid #ccc;

	.footer__top {
		padding: 40px 0;
		display: flex;
		justify-content: space-between;

		.ft__flex__plus {
			display:flex;
			justify-content: space-between;
		}

		.footer__info {
		}

		.footer__list1 {
			display: flex;
			align-items: center;
		}

		.footer__logo {
			background:url(../images/sp_common.png) 0 -50px no-repeat;
			width: 130px;
			height: 30px;
		}

		.footer__number {
			font-size: 25px;
			color: black;
			padding-left: 15px;
			font-weight: bold;
		}

		.footer__list2 {
			margin-top: 20px;

			ul {
				display: flex;
			}

			li {
				padding-left: 10px;
			}

			li:first-child {
				padding-left: 0;
			}

			a {
				color: #ccc;
			}

			.active {
				color: black;
			}
		}

		.footer__list3 {
			margin-top: 30px;
			color: #ccc;
			font-size: 12px;
		}

	}

	.footer__util {
		display: flex;
		flex-direction: column;
		.select__box {

			select {
				width: 100%;
				display: block;
				border: none;
				border-bottom: 1px solid #ccc;

				color: #ccc;
			}

			option {

			}
		}



		.down__app {
			padding-top: 30px;
			ul {
				display: flex;
				justify-content: space-between;
			}

			li {}

			a {}

			span {
				display: inline-block;
			}

			.apple {
				background: url(../images/sp_common.png) -696px -229px no-repeat;
				width: 52px;
				height: 30px;
			}

			.store {
				background: url(../images/sp_common.png) -696px -229px no-repeat;
				width: 52px;
				height: 30px;
			}
		}

		.sns__list {
			margin-top: auto;
			ul {
				display: flex;
				justify-content: space-between;
				margin: auto;
			}

			li {}

			a {}

			span {
				display: inline-block;
			}

			.blog {
				background: url(../images/sp_common.png) -696px -229px no-repeat;
				width: 52px;
				height: 30px;
			}

			.insta {
				background: url(../images/sp_common.png) -696px -229px no-repeat;
				width: 52px;
				height: 30px;
			}

			.face {
				background: url(../images/sp_common.png) -696px -229px no-repeat;
				width: 52px;
				height: 30px;
			}

			.yout {
				background: url(../images/sp_common.png) -696px -229px no-repeat;
				width: 52px;
				height: 30px;
			}

			.twit {
				background: url(../images/sp_common.png) -696px -229px no-repeat;
				width: 52px;
				height: 30px;
			}


		}

	}

	.footer__bottom {
		padding: 20px 0;
		border-top: 1px solid #c8c8c8;
		background: #ccc;

		ul {
			display: flex;
			justify-content: space-between;
			align-items: center;

		}

		li {
			font-size: 11px;
			color: lightslategray;
			display: flex;
			align-items: center;
		}

		span {
			background: url(../images/sp_common.png) -194px -273px no-repeat;
			width: 50px;
			height: 30px;
			display: block;
		}


	}
}



.store__search {

	margin-top: 50px;

	.store__search__title {

		position: relative;
		border-bottom: 1px solid black;
		padding-bottom: 20px;

		h2 {
			font-size: 26px;
		}

		span {
			position: absolute;
			right: 0;
			top: 10px;
			font-size: 13px;
		}
	}

	.store__search__content {

		padding-top: 50px;

		.allstoreview {
			display: flex;
    		justify-content: flex-end;

			a {
				padding: 5px 15px;
				background: black;
				color: white;
				font-size: 13px;
			}
		}

		.store__search__content__inner {

			display: flex;
			margin-top: 20px;

			.store__search__box {

				width: 500px;

				.store__search__tab {

					ul {
						display: flex;
					}
					li {
						width: 50%;
						text-align: center;
						background: #ccc;
						padding: 10px 0;
					}
					a {
						color: black;
					}
				}

				.store__search__selectbox {

					padding: 40px 20px 20px 20px;
					display: flex;
					justify-content: space-between;

					.store__search__select1 {
					}
					.store__search__select2 {
					}
					select {
						border: 1px solid #ccc;
						padding: 10px;
						color: black;
						width: 200px;
					}
					option {
						color:#ccc;
					}
					.store__search__btn {
						background: black;
						width: 40px;
						height: 40px;
						button {}
					}
				}

				.store__search__option {
					display: flex;
					padding: 0 20px;

					.on__off {
						background: #ccc;
						position:relative;
						padding: 2px 2px 2px 30px;
						border-radius: 20px;
						margin-left: 20px;

						a {
							color: #fff;
						}

						&:after {
							position:absolute;
							content:"";
							width: 30px;
							height: 30px;
							border-radius: 50%;
							border: 1px solid #ccc;
							left: -4px;
							background: white;
							top: -3px;
						}
					}

					.text {
						color: #ccc;
						padding-left: 20px;
					}

					.info {
						color: red;
						margin-left: auto;
					}
				}

				.store__search__list {

					padding: 30px 20px;
					display: flex;
					justify-content: space-between;

					.left {
						p {
							color: black;
						}
						a {
							padding: 10px 15px;
							color: white;
							display: inline-block;
							margin-top: 30px;
						}
						.view {
							background: #ccc;
						}
						.visit {
							background: black;
						}
					}

					.right {

						display:flex;

						.img__box {
							width: 100px;
							height: 100px;
							border-radius: 50%;
							color: white;
							background: red;
						}
					}
				}
			}

			.store__search__map {
				width: 700px;
				background: black;
				height: 600px;
			}
		}
	}
}
